.footer {
  background-color: $color-primary-300;
  padding: 5rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  color: $color-white-200;

  @include respond(tab-port) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  @include respond(phone) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  a {
    color: $color-white;
  }

  & > * {
    margin-left: auto;
    margin-right: auto;
  }

  &__header {
    color: $color-secondary-300;
  }

  &__logo {
    @include respond(tab-port) {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
    }

    @include respond(phone) {
      grid-column: 1 / span 1;
      display: grid;
      place-content: center;
    }

    .logo {
      @include respond(tab-port) {
        max-height: 5rem;
      }
    }
  }

  &__nav-links {
    @include respond(tab-port) {
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
    }

    @include respond(phone) {
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
    }
  }

  &__social-media {
    @include respond(tab-port) {
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;
    }

    @include respond(phone) {
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;
    }
  }

  &__contact-details {
    @include respond(tab-port) {
      grid-row: 2 / span 1;
      grid-column: 3 / span 1;
    }

    @include respond(phone) {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
    }
  }

  &__copyright {
    height: 8rem;
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;

    display: flex;
    align-items: center;

    @include respond(tab-port) {
      grid-row: 3 / span 1;
      grid-column: 1 / -1;
    }

    @include respond(phone) {
      grid-row: 3 / span 1;
      grid-column: 1 / -1;
    }

    span {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }
  }
}
