.header {
  background-color: $color-primary-50;
  height: calc(100vh - 8rem);
  padding: 15rem 20rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;

  &__title {
    margin-bottom: 6rem;
    grid-column: 1 / -1;

    span {
      color: $color-primary-200;
    }
  }

  &__text {
    grid-column: 1 / span 1;
    display: grid;

    font-size: 2rem;
    max-width: 45ch;
  }

  &__img {
    grid-column: 2 / -1;
  }
}
