.header {
  min-height: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;

  &__logo {
    cursor: pointer;
    margin: 2rem;
    min-height: 5.5rem;

    &:focus,
    &:visited {
      color: $color-black;
    }
  }
}
