.navbar {
  position: relative;

  li {
    a {
      position: relative;

      color: #4d4b4b;
      text-transform: uppercase;

      transition: margin-top 0.3s ease;

      &:hover {
        margin-top: -5px; /* Adjust this value as per your requirement */

        color: var(--clr-primary-400);

        &::before {
          content: "";
          color: #000;
          bottom: -2px;
          width: 30px;
          height: 1px;
        }
      }
    }
  }

  &__menu {
    @include respond(sm) {
      background-color: steelblue;
      height: 40vh;
      width: 100%;
      padding: 5rem;

      position: fixed;
      flex-direction: column;
      top: 0vh;
      right: 0;

      transform: translateX(100%);
      transition: 0.5s ease-in;
    }
  }

  &__active {
    transform: translateX(0);
  }

  &__mobile-nav-toggle {
    cursor: pointer;
    aspect-ratio: 1;

    display: none;

    font-size: 3rem;

    @include respond(sm) {
      display: block;
      z-index: 9999;
    }
  }
}
