.navbar {
  border-bottom: 1px solid var(--clr-white-200);
  height: 8rem;
  padding: 1rem 4rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: $fs-nav;
  font-family: $ff-primary;
  text-transform: uppercase;
  font-weight: var(--fw-semi-bold);

  @include respond(tab-land) {
    font-size: 1.75rem;
  }

  @include respond(tab-port) {
    position: relative;
  }

  a {
    color: var(--clr-black-800);
  }

  // &__logo {
  //   justify-self: start;

  //   .logo {
  //     max-height: 5rem;
  //     display: grid;
  //     place-content: center;
  //   }

  //   @include respond(tab-port) {
  //     position: absolute;
  //     top: 0;
  //     left: 0;

  //     transform: translate(25%, 25%);
  //   }

  //   &:focus,
  //   &:visited {
  //     color: $color-black;
  //   }
  // }

  &__menu {
    width: 70vw;

    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1rem;
    justify-content: end;

    @include respond(tab-port) {
      width: 100%;
      height: 40vh;

      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      position: absolute;
      top: 8rem;
      left: -100%;

      opacity: 1;
      transition: all 0.5s ease;
    }

    &.active {
      @include respond(tab-port) {
        background: var(--clr-white-100);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
    }
  }

  &__links {
    text-decoration: none;
    padding: 0.5rem 1rem;

    @include respond(tab-port) {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }

    &:focus,
    &:visited {
      color: $color-black;
    }

    &:hover {
      background-color: var(--clr-primary-400);
      border-radius: 4px;

      color: $color-white;

      transition: all 0.2s ease-out;

      @include respond(tab-port) {
        border-radius: 0;
      }
    }
  }

  &__menu-icon {
    display: none;

    @include respond(tab-port) {
      cursor: pointer;

      display: block;
      position: absolute;
      top: 0;
      right: 0;

      font-size: 3rem;

      transform: translate(-90%, 85%);
    }
  }
}

.navbar2 {
  position: relative;

  &__mobile-nav-toggle {
    background: red;
    aspect-ratio: 1;
    width: 1rem;

    display: none;
    position: absolute;
    top: 2rem;
    right: 2rem;

    @include respond(phone) {
      display: block;
      z-index: 9999;
    }
  }

  // @include respond(phone) {
  //   &__list {
  //     background-color: steelblue;
  //     padding: min(20vh, 10rem) 2rem;

  //     position: fixed;
  //     inset: 0 0 0 0;
  //     flex-direction: column;
  //     z-index: 1000;

  //     color: $color-white;

  //     transform: translateY(-50%);
  //   }

  //   &__list[data-visible="true"] {
  //     transform: translateY(0);
  //   }
  // }
}
