.navbar2 {
  position: relative;

  &__menu {
    @include respond(sm) {
      background-color: steelblue;
      height: 93vh;
      width: 100%;
      padding: 5rem;

      position: fixed;
      flex-direction: column;
      top: 0vh;
      right: 0;

      transform: translateX(100%);
      transition: 0.5s ease-in;
    }
  }

  &__active {
    transform: translateX(0);
  }

  &__mobile-nav-toggle {
    cursor: pointer;
    background: red;
    aspect-ratio: 1;
    width: 5rem;

    display: none;
    // position: absolute;
    // top: 0rem;
    // left: 15rem;

    @include respond(sm) {
      display: block;
      z-index: 9999;
    }
  }
}
