.article-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

  @include respond(tab-land) {
    grid-template-columns: repeat(1, 1fr);
  }

  & > * {
    display: grid;
    place-content: center;
    text-align: center;
  }

  &__title {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
  }

  &__img {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    text-align: center;
    font-size: 0.9em;

    @include respond(tab-land) {
      grid-column: 1 / -1;
      // grid-template-columns: repeat(1, 1fr);
    }
  }

  &__form {
    margin-left: auto;
    margin-right: auto;

    grid-row: 2 / span 1;
    grid-column: 2 / span 1;

    @include respond(tab-land) {
      grid-row: 3 / span 1;
      grid-column: 1 / -1;
    }
  }

  &__details {
    padding: 2rem;
    margin-top: 3rem;

    grid-row: 3 / span 1;
    grid-column: 1 / span 2;

    display: flex;
    align-items: center;
    justify-content: space-around;

    & > * {
      text-align: center;
    }

    h3 {
      color: $color-primary-200;
      text-transform: uppercase;
      text-align: center;
    }

    @include respond(tab-land) {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}
