.article-home,
.article-about,
.article-services,
.article-contact {
  min-height: 100vh;
  padding: 10rem 20rem;

  @include respond(tab-land) {
    padding: 7.5rem 15rem;
  }

  @include respond(tab-port) {
    padding: 5rem 10rem;
  }
}

.article-home {
  background-color: $color-primary-50;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.5rem;
  place-items: center;

  &__text {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    font-size: 2rem;
    max-width: 45ch;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include respond(tab-land) {
      grid-column: 1 / -1;
      grid-row: 2 / span 1;
    }

    & > :not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__img {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    @include respond(tab-land) {
      grid-column: 1 / -1;
    }
  }
}

.article-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;

  @include respond(tab-land) {
    grid-template-columns: repeat(1, 1fr);
  }

  & > * {
    display: grid;
    place-content: center;
    text-align: center;
  }

  &__title {
    grid-column: 1 / -1;

    @include respond(tab-land) {
      grid-column: 1 / -1;
    }
  }

  &__image {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }

  &__text {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;

    p {
      max-width: 45ch;
    }

    @include respond(tab-land) {
      grid-row: 3 / span 1;
      grid-column: 1 / -1;
    }
  }
}

.article-services {
  background-color: $color-primary-50;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;

  & > * {
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    grid-column: 1 / -1;

    text-align: center;
  }

  &__grid {
    margin-top: 3rem;
    grid-column: 1 / -1;
    grid-row: 2 / span 1;

    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
    grid-gap: 2rem;

    @include respond(tab-land) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include respond(tab-land) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}

.article-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

  @include respond(tab-land) {
    grid-template-columns: repeat(1, 1fr);
  }

  & > * {
    display: grid;
    place-content: center;
    text-align: center;
  }

  &__title {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
  }

  &__img {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    text-align: center;
    font-size: 0.9em;

    @include respond(tab-land) {
      grid-column: 1 / -1;
      // grid-template-columns: repeat(1, 1fr);
    }
  }

  &__form {
    margin-left: auto;
    margin-right: auto;

    grid-row: 2 / span 1;
    grid-column: 2 / span 1;

    @include respond(tab-land) {
      grid-row: 3 / span 1;
      grid-column: 1 / -1;
    }
  }

  &__details {
    padding: 2rem;
    margin-top: 3rem;

    grid-row: 3 / span 1;
    grid-column: 1 / span 2;

    display: flex;
    align-items: center;
    justify-content: space-around;

    h3 {
      color: $color-primary-200;
      text-transform: uppercase;
      text-align: center;
    }

    @include respond(tab-land) {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}
