.article-home,
.article-about,
.article-services,
.article-contact {
  min-height: calc(100vh - 8rem);
  padding: 10rem 20rem;

  @include respond(tab-land) {
    padding: 5rem 10rem;
  }
}

.article-home {
  background-color: $color-primary-50;
  padding-top: 8rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;

  &__title {
    margin-bottom: 6rem;
    grid-column: 1 / -1;

    span {
      color: $color-primary-200;
    }
  }

  &__text {
    grid-column: 1 / span 1;
    display: grid;

    font-size: 2rem;
    max-width: 45ch;
  }

  &__btn {
    margin-top: 3rem;
  }

  &__img {
    grid-column: 2 / span 1;
  }
}

.article-about {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
  grid-gap: 2rem;

  & > * {
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    grid-column: 1 / -1;

    text-align: center;
  }

  &__image {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }

  &__text {
    grid-row: 2 / span 1;
    grid-column: 2 / -1;

    display: flex;
    align-items: center;

    p {
      max-width: 45ch;
    }
  }
}

.article-services {
  background-color: $color-primary-50;

  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
  grid-gap: 2rem;

  & > * {
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    grid-column: 1 / -1;

    text-align: center;
  }

  &__grid {
    margin-top: 3rem;
    grid-column: 1 / -1;
    grid-row: 2 / span 1;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;

    @include respond(tab-port) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

.article-contact {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;

  & > * {
    display: grid;
    place-content: center;
  }

  &__title {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }

  &__details {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;

    display: grid;
    grid-gap: 1rem;

    @include respond(tab-port) {
      grid-column: 1 / span 2;
      grid-gap: 2rem;
    }
  }

  &__text {
    background-color: $color-white-100;
    border-radius: 0.5rem;
    padding: 2rem 4rem;

    grid-row: 2 / span 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    @include respond(tab-land) {
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2rem;
    }

    font-size: 1.5rem;

    span {
      color: $color-grey-600;
    }

    .opening-hours {
      padding-right: 2rem;

      &__item {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__form {
    grid-row: 2 / span 1;
    grid-column: 2 / -1;

    @include respond(tab-port) {
      grid-row: 3 / span 1;
      grid-column: 1 / -1;
    }
  }
}
