.article-home,
.article-about,
.article-services,
.article-contact {
  min-height: 100vh;
  padding: 15rem 20rem 10rem;

  @include respond(tab-land) {
    padding: 5rem 10rem;
  }
}

.article-home {
  background-color: $color-primary-50;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-gap: 3rem;
  place-items: center;

  &__text {
    grid-column: 1 / span 1;

    font-size: 2rem;
    max-width: 45ch;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & > * {
      margin-bottom: 3rem;
    }
  }

  &__img {
    grid-column: 2 / span 1;
  }
}

.article-about {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
  grid-gap: 2rem;

  & > * {
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    grid-column: 1 / -1;

    text-align: center;
  }

  &__image {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }

  &__text {
    grid-row: 2 / span 1;
    grid-column: 2 / -1;

    display: flex;
    align-items: center;

    p {
      max-width: 45ch;
    }
  }
}

.article-services {
  background-color: $color-primary-50;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;

  & > * {
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    grid-column: 1 / -1;

    text-align: center;
  }

  &__grid {
    margin-top: 3rem;
    grid-column: 1 / -1;
    grid-row: 2 / span 1;

    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
    grid-gap: 2rem;

    @include respond(tab-port) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

.article-contact {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;

  & > * {
    display: grid;
    justify-content: flex-end;
  }

  &__title {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    place-content: center;
  }

  &__img {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    place-content: center;
  }

  &__details {
    background-color: $color-white-100;
    border-radius: 0.5rem;
    padding: 2rem;

    grid-row: 3 / span 1;
    grid-column: 1 / span 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    font-size: 1.5rem;

    // @include respond(tab-land) {
    //   grid-row: 2 / span 1;
    //   grid-column: 1 / span 1;
    //   grid-template-columns: repeat(1, 1fr);
    //   grid-gap: 2rem;
    // }

    .opening-hours {
      padding-right: 2rem;

      grid-column: 1 / span 1;
      grid-row: 1 / span 2;

      &__item {
        display: flex;
        justify-content: space-between;
      }
    }

    .phone {
      grid-column: 2 / span 1;
    }

    .email {
      // grid-row: 2 / span 1;
      grid-column: 2 / span 1;
    }
  }

  &__form {
    grid-row: 2 / span 2;
    grid-column: 2 / span 1;

    @include respond(tab-port) {
      grid-row: 3 / span 1;
      grid-column: 1 / -1;
    }
  }
}
