.post {
  background-color: green;
  min-height: 100vh;
  padding: 3rem;

  &__title {
    font-size: 3rem;
    line-height: 1;
  }

  &__title-two {
    margin-bottom: 3rem;

    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    color: rgb(75 85 99);
  }
}
