// * POSITION

.u-relative {
  position: relative;
}

.u-absolute {
  position: absolute;
}

// CENTER TEXT

.u-center-text {
  text-align: center !important;
}

.u-md-center-text {
  @media (max-width: 768px) {
    text-align: center !important;
  }
  text-align: center !important;
}

.u-place-content-center {
  place-content: center;
}

.u-place-content-start {
  place-content: start !important;
}

.u-place-content-start-center {
  place-content: start center !important;
}
