body {
  color: var(--clr-black-900);
  font-family: $ff-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

.primary-heading {
  max-width: 30ch;

  font-size: $fs-primary-heading;
  font-weight: var(--fw-semi-bold);
}

.secondary-heading {
  font-family: $ff-secondary;
  font-size: clamp(3rem, 3.5vw, 3.5rem);
  font-weight: var(--fw-bold);
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.paragraph {
  max-width: 45ch;

  font-size: $fs-body;
  line-height: 2;
  text-align: justify;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
