//* Align Items

.align-items {
  display: flex;
  align-items: center;
  justify-content: center;

  &__arrow {
    margin-left: 1rem;
  }

  &__icon {
    margin-right: 0.75rem;
  }
}

.u-align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    // margin-left: 1rem;
    margin-right: 1rem;
  }

  &--start {
    justify-content: flex-start;
  }
}

//* Background Color

.u-bg-primary-50 {
  background-color: $color-primary-50;
}

.u-bg-primary-300 {
  background-color: $color-primary-300;
}

.u-bg-white-50 {
  background-color: $color-white-50;
}

//* Center Text

.u-center-text {
  text-align: center !important;
}

// * Columns

.u-even-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  & > * {
    display: grid;
    place-content: center;
  }
  @include respond(tab-port) {
    display: block;
  }
}

// * Container

.u-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  // @include respond(tab-port) {
  //   display: block;
  // }

  // @include respond(tab-port) {
  //   display: block;
  // }

  // @include respond(tab-port) {
  //   display: block;
  // }

  // @include respond(big-desktop) {
  //   width: 117rem;
  // }
}

//* Font Size

.u-fs-300 {
  font-size: $fs-300;
}

.u-fs-400 {
  font-size: $fs-400;
}

.u-fs-500 {
  font-size: $fs-500;
}

.u-fs-600 {
  font-size: $fs-600;
}

.u-fs-700 {
  font-size: $fs-700;
}

.u-fs-800 {
  font-size: $fs-800;
}

.u-fs-primary-heading {
  font-size: $fs-primary-heading;
}

.u-fs-secondary-heading {
  font-size: $fs-secondary-heading;
}

//* Font Weight

.u-fw-bold {
  font-weight: $fw-bold;
}

.u-fw-semi-bold {
  font-weight: $fw-semi-bold;
}

.u-fw-regular {
  font-weight: $fw-regular;
}

//* Margin

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-medium {
  margin-top: 6rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

//* Text Color

.u-text-color-black {
  color: $color-black;
}

.u-text-color-white {
  color: $color-white;
}

.u-text-color-white-50 {
  color: $color-white-50;
}

.u-text-color-white-200 {
  color: $color-white-200;
}

.u-text-color-secondary-300 {
  color: $color-secondary-300;
}

.u-text-primary-50 {
  color: $color-primary-50;
}

.u-text-span {
  color: $color-primary-200;
}
