//* Align Items

.align-items {
  display: flex;
  align-items: center;
  justify-content: center;

  &__arrow {
    margin-left: 1rem;
  }

  &__icon {
    margin-right: 0.75rem;
  }
}

.u-align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    // margin-left: 1rem;
    margin-right: 1rem;
  }

  &--start {
    justify-content: flex-start;
  }
}

//* Center Text

.u-center-text {
  text-align: center !important;
}
