//* COLORS

//* --- Primary
$color-primary-25: hsl(213, 65%, 97%); //* #F1F6FC | Link Water Blue
$color-primary-50: hsl(218, 100%, 93%); //* Pattens Blue
$color-primary-100: hsl(219, 100%, 83%); //* Anakiwa Blue
$color-primary-200: hsl(219, 100%, 63%); //* Dodger Blue
$color-primary-250: hsl(210, 29%, 49%); //* Horizon Blue
$color-primary-300: hsl(210, 28%, 29%); //* Pickled Bluewood
$color-primary-350: hsl(210, 28%, 9%); //* Pickled Bluewood
$color-primary-400: hsl(219, 100%, 23%); //* Midnight Blue
$clr-primary-400: hsl(219, 100%, 43%); //* 004EDC // Science Blue

//* --- Secondary
$color-secondary-100: hsl(60, 3%, 6%); //* Cape Honey Orange
$color-secondary-200: hsl(41, 100%, 63%); //* Bright Sun Orange
$color-secondary-300: hsl(41, 93%, 51%); //* Tangerine Orange
$color-secondary-350: hsl(41, 100%, 33%); //* Pirate Gold Orange
$color-secondary-400: hsl(41, 100%, 23%); //* Cinnamon Orange

//* --- White to Black
$color-white: hsl(0, 0%, 100%); //* ffffff | White
$color-white-50: hsl(0, 0%, 95%); //* f2f2f2 | Concrete White
$color-white-100: hsl(0, 0%, 90%); //* e6e6e6 | Mercury White
$color-white-200: hsl(0, 0%, 80%); //* cccccc | Silver White
$color-grey-300: hsl(0, 0%, 70%); //* b3b3b3 | Nobel Grey
$color-grey-400: hsl(0, 0%, 60%); //* 999999 | Dusty Grey
$color-grey-500: hsl(0, 0%, 50%); //* 808080 | Grey
$color-grey-600: hsl(0, 0%, 40%); //* 666666 | Dove Grey
$color-grey-700: hsl(0, 0%, 30%); //* 4d4d4d | Tundora Grey
$color-black-800: hsl(0, 0%, 20%); //* 333333 | Mine Shaft Grey
$color-black-900: hsl(0, 0%, 10%); //* 1a1a1a | Cod Grey
$color-black: hsl(0, 0%, 0%); //* 000000 | Black

//* FONT

$default-font-size: 1.6rem;

//* --- Font Family
$font-primary: "Poppins", sans-serif;
$font-secondary: "Raleway", sans-serif;
$font-third: "Montserrat", serif;
$ff-primary: "Poppins", sans-serif;
$ff-secondary: "Raleway", sans-serif;
$ff-body: $ff-primary;
$ff-heading: $ff-primary;

//* --- Font Size

$fs-body: var(--fs-500);
$fs-primary-heading: var(--fs-800);
$fs-secondary-heading: var(--fs-700);
$fs-nav: var(--fs-700);
$fs-button: var(--fs-300);

// * --- Fluid Type
/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,28,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
$step--2: clamp(0.78rem, calc(0.66rem + 0.59vw), 1.12rem);
$step--1: clamp(0.94rem, calc(0.78rem + 0.8vw), 1.4rem);
$step-0: clamp(1.13rem, calc(0.91rem + 1.09vw), 1.75rem);
$step-1: clamp(1.35rem, calc(1.06rem + 1.46vw), 2.19rem);
$step-2: clamp(1.62rem, calc(1.23rem + 1.94vw), 2.73rem);
$step-3: clamp(1.94rem, calc(1.43rem + 2.56vw), 3.42rem);
$step-4: clamp(2.33rem, calc(1.66rem + 3.37vw), 4.27rem);
$step-5: clamp(2.8rem, calc(1.92rem + 4.42vw), 5.34rem);

//* GRID

$grid-gap: 5rem;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//* RESPONSIVE BREAKPOINTS

$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
