//* FONT

$default-font-size: 1.6rem;

//* --- Font Family
$ff-primary: "Poppins", sans-serif;
$ff-secondary: "Raleway", sans-serif;
$ff-body: $ff-primary;
$ff-heading: $ff-primary;

//* --- Font Size
$fs-body: clamp(1.75rem, 1.8vw, 2rem);
$fs-primary-heading: clamp(2.5rem, 3vw, 3.5rem);
$fs-secondary-heading: var(--fs-700);
$fs-nav: var(--fs-700);
$fs-button: var(--fs-300);

// * --- Fluid Type
/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,28,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
$step--2: clamp(0.78rem, calc(0.66rem + 0.59vw), 1.12rem);
$step--1: clamp(0.94rem, calc(0.78rem + 0.8vw), 1.4rem);
$step-0: clamp(1.13rem, calc(0.91rem + 1.09vw), 1.75rem);
$step-1: clamp(1.35rem, calc(1.06rem + 1.46vw), 2.19rem);
$step-2: clamp(1.62rem, calc(1.23rem + 1.94vw), 2.73rem);
$step-3: clamp(1.94rem, calc(1.43rem + 2.56vw), 3.42rem);
$step-4: clamp(2.33rem, calc(1.66rem + 3.37vw), 4.27rem);
$step-5: clamp(2.8rem, calc(1.92rem + 4.42vw), 5.34rem);

//* GRID

$grid-gap: 5rem;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//* RESPONSIVE BREAKPOINTS

$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
