/*
0 - 600px:    Phone
600 - 900px:  Tablet Portrait
900 - 1200px:  Tablet Landscape
(1200 - 1800) is where our normal styles apply
1800px+:       Big Desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components

1em = 16px
*/
.hover-underline {
  display: inline-block;
  position: relative;
}

.hover-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.35rem;
  bottom: -2.6rem;
  left: 0;
  background-color: hsl(219deg, 100%, 63%);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Box sizing rules & remove default margin/padding */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Defines what 1rem is & set core root defaults */
html {
  font-size: 62.5%;
}
html:focus-within {
  scroll-behavior: smooth;
}

/* Set box-sizing & background color */
body {
  background-color: hsl(0deg, 0%, 95%);
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  color: hsl(0deg, 0%, 10%);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

.primary-heading {
  max-width: 35ch;
  font-size: 3.5rem;
  font-weight: 500;
}
@media (max-width: 37.5em) {
  .primary-heading {
    font-size: 2.5rem;
  }
}
@media (max-width: 75em) {
  .primary-heading {
    font-size: 3rem;
  }
}

.secondary-heading {
  font-family: "Raleway", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 1rem;
  text-transform: uppercase;
}
@media (max-width: 37.5em) {
  .secondary-heading {
    font-size: 3rem;
  }
}

.heading-one {
  margin-bottom: 5rem;
  color: hsl(41deg, 93%, 51%);
  font-family: "Raleway", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 1rem;
  text-transform: uppercase;
}
@media (max-width: 37.5em) {
  .heading-one {
    font-size: 3rem;
    letter-spacing: 1rem;
  }
}

.heading-two {
  max-width: 35ch;
  color: hsl(0deg, 0%, 20%);
  font-size: 3.5rem;
  font-weight: 500;
}
.heading-two span {
  color: hsl(219deg, 100%, 63%);
}
@media (max-width: 75em) {
  .heading-two {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .heading-two {
    font-size: 2.5rem;
  }
}

.paragraph {
  max-width: 45ch;
  font-size: 2rem;
  line-height: 2;
  text-align: justify;
}
@media (max-width: 37.5em) {
  .paragraph {
    font-size: 1.75rem;
  }
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.quote {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  font-style: italic;
  font-size: 0.8em;
  text-align: center;
}

.bullet-point {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bullet-point:not(:last-child) {
  margin-bottom: 2rem;
}

.align-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-items__arrow {
  margin-left: 1rem;
}
.align-items__icon {
  margin-right: 0.75rem;
}

.u-align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.u-align-items-center__icon {
  margin-right: 1rem;
}
.u-align-items-center--start {
  justify-content: flex-start;
}

.u-bg-primary-50 {
  background-color: hsl(218deg, 100%, 93%);
}

.u-bg-primary-300 {
  background-color: hsl(210deg, 28%, 29%);
}

.u-bg-white-50 {
  background-color: hsl(0deg, 0%, 95%);
}

.u-center-text {
  text-align: center !important;
}

.u-even-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.u-even-columns > * {
  display: grid;
  place-content: center;
}
@media (max-width: 56.25em) {
  .u-even-columns {
    display: block;
  }
}

.u-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.u-fs-300 {
  font-size: 1.3rem;
}

.u-fs-400 {
  font-size: 1.4rem;
}

.u-fs-500 {
  font-size: 1.5rem;
}

.u-fs-600 {
  font-size: 1.6rem;
}

.u-fs-700 {
  font-size: 2rem;
}

.u-fs-800 {
  font-size: 3rem;
}

.u-fs-primary-heading {
  font-size: 3rem;
}

.u-fs-secondary-heading {
  font-size: 2rem;
}

.u-fw-bold {
  font-weight: 700;
}

.u-fw-semi-bold {
  font-weight: 500;
}

.u-fw-regular {
  font-weight: 400;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-medium {
  margin-top: 6rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-text-color-black {
  color: hsl(0deg, 0%, 0%);
}

.u-text-color-white {
  color: hsl(0deg, 0%, 100%);
}

.u-text-color-white-50 {
  color: hsl(0deg, 0%, 95%);
}

.u-text-color-white-200 {
  color: hsl(0deg, 0%, 80%);
}

.u-text-color-secondary-300 {
  color: hsl(41deg, 93%, 51%);
}

.u-text-color-secondary-350 {
  color: hsl(41deg, 100%, 33%);
}

.u-text-primary-50 {
  color: hsl(218deg, 100%, 93%);
}

.u-text-span {
  color: hsl(219deg, 100%, 63%);
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.btn-moving-gradient {
  height: 55px;
  width: 200px;
  cursor: pointer;
  border: none;
  background-size: 300% 100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.btn-moving-gradient:hover {
  transition: all 0.5s ease-in-out 0s;
  background-position: 100% 0px;
}
.btn-moving-gradient--blue {
  background-image: linear-gradient(90deg, rgb(61, 135, 255), rgb(190, 61, 255), rgb(126, 61, 255), hsl(219deg, 100%, 63%));
  box-shadow: rgb(190, 61, 255) 0px 4px 15px 0px;
}

.scrollButton {
  border: none;
  background-color: transparent;
  height: 6rem;
  width: 6rem;
  cursor: pointer;
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  z-index: 1;
  font-size: 3rem;
  color: hsl(210deg, 29%, 49%);
}
.scrollButton__icon {
  font-size: 8rem;
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  min-height: 30rem;
  padding: 2.5rem;
  color: hsl(210deg, 28%, 29%);
  font-size: 1.5rem;
  display: grid;
  transition: transform 0.3s;
}
.feature-box > * {
  margin-left: auto;
  margin-right: auto;
}
.feature-box__title {
  color: hsl(219deg, 100%, 23%);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
.feature-box p {
  text-align: justify;
  color: hsl(0deg, 0%, 0%);
  font-size: 1.5rem;
}
@media (max-width: 56.25em) {
  .feature-box {
    padding: 2rem;
  }
}
.feature-box:hover {
  background-color: hsl(210deg, 29%, 49%);
  color: hsl(0deg, 0%, 100%);
  transform: translateY(-1.5rem) scale(1.03);
}
.feature-box:hover p,
.feature-box:hover h2 {
  color: hsl(0deg, 0%, 100%);
}

.form {
  border-radius: 0.5rem;
  background-color: hsl(0deg, 0%, 90%);
  padding: 2rem;
  margin: 0 auto;
}
.form input[type=text],
.form select,
.form textarea {
  width: 100%;
  padding: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.form input[type=submit] {
  background-color: hsl(219deg, 100%, 63%);
  color: hsl(0deg, 0%, 100%);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form input[type=submit]:hover {
  transform: translateY(-0.25rem) scale(1.03);
}

.footer {
  padding: 5rem 20rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 56.25em) {
  .footer {
    display: block;
    padding: 5rem 10rem;
  }
}
@media (max-width: 75em) {
  .footer {
    padding: 7.5rem 15rem;
  }
}
.footer a {
  color: hsl(0deg, 0%, 100%);
}
.footer__logo {
  padding: 0 5rem 2rem;
  display: grid;
  place-content: center;
}
@media (max-width: 56.25em) {
  .footer__logo {
    padding: 0 0 5rem;
  }
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social > * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 2.5rem;
}
.footer__nav-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 56.25em) {
  .footer__nav-links {
    font-size: 1.3rem;
  }
}
.footer__nav-links > * {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.footer__copyright {
  height: 8rem;
  margin-top: 5rem;
  grid-row: 2/span 1;
  grid-column: 1/-1;
}
.footer__copyright span {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.navbar {
  border-bottom: 1px solid hsl(0deg, 0%, 90%);
  height: 8rem;
  padding: 1rem 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}
@media (max-width: 75em) {
  .navbar {
    font-size: 1.75rem;
  }
}
@media (max-width: 56.25em) {
  .navbar {
    position: relative;
  }
}
.navbar a {
  color: hsl(219deg, 100%, 83%);
}
.navbar__logo {
  justify-self: start;
}
.navbar__logo .logo {
  max-height: 5rem;
  display: grid;
  place-content: center;
}
@media (max-width: 56.25em) {
  .navbar__logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 25%);
  }
}
.navbar__logo:focus, .navbar__logo:visited {
  color: hsl(0deg, 0%, 0%);
}
.navbar__menu {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1rem;
  justify-content: end;
}
@media (max-width: 56.25em) {
  .navbar__menu {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 8rem;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
}
@media (max-width: 56.25em) {
  .navbar__menu.active {
    background: hsl(0deg, 0%, 95%);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
}
.navbar__links {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
@media (max-width: 56.25em) {
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
}
.navbar__links:focus, .navbar__links:visited {
  color: hsl(0deg, 0%, 0%);
}
.navbar__links:hover {
  background-color: hsl(219deg, 100%, 63%);
  border-radius: 4px;
  color: hsl(0deg, 0%, 100%);
  transition: all 0.2s ease-out;
}
@media (max-width: 56.25em) {
  .navbar__links:hover {
    border-radius: 0;
  }
}
.navbar__menu-icon {
  display: none;
}
@media (max-width: 56.25em) {
  .navbar__menu-icon {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
    transform: translate(-90%, 85%);
  }
}

.article-home,
.article-about,
.article-services,
.article-contact {
  min-height: 100vh;
  padding: 10rem 20rem;
}
@media (max-width: 75em) {
  .article-home,
.article-about,
.article-services,
.article-contact {
    padding: 7.5rem 15rem;
  }
}
@media (max-width: 56.25em) {
  .article-home,
.article-about,
.article-services,
.article-contact {
    padding: 5rem 10rem;
  }
}

.section-home,
.section-about,
.section-services,
.section-contact {
  min-height: 100vh;
  padding: 10rem 20rem;
}
@media (max-width: 75em) {
  .section-home,
.section-about,
.section-services,
.section-contact {
    padding: 7.5rem 15rem;
  }
}
@media (max-width: 56.25em) {
  .section-home,
.section-about,
.section-services,
.section-contact {
    padding: 5rem 10rem;
  }
}

.section-home {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 3.5rem;
       column-gap: 3.5rem;
  place-items: center;
}
@media (max-width: 75em) {
  .section-home {
    display: block;
    padding-top: 10rem;
  }
}

.section-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}
.section-about > * {
  display: grid;
  place-items: center;
}
@media (max-width: 75em) {
  .section-about {
    display: block;
  }
}
.section-about__title {
  margin-left: auto;
  margin-right: auto;
  grid-column: 1/-1;
}

.section-services {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;
}
.section-services > * {
  margin-left: auto;
  margin-right: auto;
}
.section-services__title {
  grid-column: 1/-1;
  text-align: center;
}
.section-services__grid {
  margin-top: 3rem;
  grid-column: 1/-1;
  grid-row: 2/span 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  grid-gap: 2rem;
}
@media (max-width: 75em) {
  .section-services__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 75em) {
  .section-services__grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.section-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
@media (max-width: 75em) {
  .section-contact {
    display: block;
  }
}
.section-contact > * {
  display: grid;
  place-items: center;
  text-align: center;
}
.section-contact__title {
  grid-row: 1/span 1;
  grid-column: 1/-1;
}
.section-contact__details {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.article-home {
  background-color: hsl(218deg, 100%, 93%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 3.5rem;
       column-gap: 3.5rem;
  place-items: center;
}
.article-home__text {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  font-size: 2rem;
  max-width: 45ch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 75em) {
  .article-home__text {
    grid-column: 1/-1;
    grid-row: 2/span 1;
  }
}
.article-home__text > :not(:last-child) {
  margin-bottom: 3rem;
}
.article-home__img {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}
@media (max-width: 75em) {
  .article-home__img {
    grid-column: 1/-1;
  }
}

.article-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}
@media (max-width: 75em) {
  .article-about {
    grid-template-columns: repeat(1, 1fr);
  }
}
.article-about > * {
  display: grid;
  place-content: center;
  text-align: center;
}
.article-about__title {
  grid-column: 1/-1;
}
@media (max-width: 75em) {
  .article-about__title {
    grid-column: 1/-1;
  }
}
.article-about__image {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}
.article-about__text {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
}
.article-about__text p {
  max-width: 45ch;
}
@media (max-width: 75em) {
  .article-about__text {
    grid-row: 3/span 1;
    grid-column: 1/-1;
  }
}

.article-services {
  background-color: hsl(218deg, 100%, 93%);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;
}
.article-services > * {
  margin-left: auto;
  margin-right: auto;
}
.article-services__title {
  grid-column: 1/-1;
  text-align: center;
}
.article-services__grid {
  margin-top: 3rem;
  grid-column: 1/-1;
  grid-row: 2/span 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  grid-gap: 2rem;
}
@media (max-width: 75em) {
  .article-services__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 75em) {
  .article-services__grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.article-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
@media (max-width: 75em) {
  .article-contact {
    grid-template-columns: repeat(1, 1fr);
  }
}
.article-contact > * {
  display: grid;
  place-content: center;
  text-align: center;
}
.article-contact__title {
  grid-row: 1/span 1;
  grid-column: 1/-1;
}
.article-contact__img {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 0.9em;
}
@media (max-width: 75em) {
  .article-contact__img {
    grid-column: 1/-1;
  }
}
.article-contact__form {
  margin-left: auto;
  margin-right: auto;
  grid-row: 2/span 1;
  grid-column: 2/span 1;
}
@media (max-width: 75em) {
  .article-contact__form {
    grid-row: 3/span 1;
    grid-column: 1/-1;
  }
}
.article-contact__details {
  padding: 2rem;
  margin-top: 3rem;
  grid-row: 3/span 1;
  grid-column: 1/span 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.article-contact__details > * {
  text-align: center;
}
.article-contact__details h3 {
  color: hsl(219deg, 100%, 63%);
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 75em) {
  .article-contact__details {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}/*# sourceMappingURL=main.css.map */